@import 'vars';
@import 'mixins';

// reset (normalize.css)
@import 'reset';

body {
  font-size: $mainFz;
  color: $mainColor;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

h1 {
  color: red;
}

// Import Blocks
@import 'blocks/header';
@import 'blocks/footer';